body { margin:10px; padding:0; font-family: Arial, Helvetica, sans-serif; background-color:#000; color:#FFF}



#content1, #content2, #content3 {height:160px; padding:10px; text-align:center; margin:10px 0 0 0;}

#content1 { background-color:#000;  }
#content2 { background-color:#000;  }
#content3 { background-color:#000; }

img{ max-width:100%;}
#largeImage { margin:10px 0 0 0; max-width:100%; background:#000  }

#largeImage img { max-width:100%; margin:0; padding:0; }
section { background-color:#000;  position:relative;}



#b1 { height:200px; width:auto;}




#b2 { height:200px; width:auto;}
#b2 h1{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#fff; margin:15px; font-size:40px;transition: background 0.5s linear 0s, color 0.5s linear 0s;}
#b2 h1:hover{color:#09F;}
#b2 h2{margin:15px;}



#b3 { height:200px; width:auto;}
#b3 h1{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#fff;
 margin:15px; font-size:40px;transition: background 0.5s linear 0s, color 0.5s linear 0s;}
#b3 h1:hover {color:#09F;}
#b3 h2{margin:15px;}


#b4 { height:200px; width:auto;}

#b5 { height:200px; width:auto;}



#b6 { height:200px; width:auto;}
#b6 h1 { font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;color:#fff;
  margin:15px; font-size:40px; transition: background 0.5s linear 0s, color 0.5s linear 0s;}
#b6 h1:hover {color:#09F;}
#b6 h2{margin:15px;}



.button-style {
	display: inline-block;
	background-color: #3F60AC;
	margin-top: 10px;
	margin-left:1em;
	padding: 5px 30px;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	transition: background 0.5s linear 0s, color 0.5s linear 0s;
}
.button-style:hover{ background-color:#09F}




#formbox {width:65%; min-height:700px; color:#FFF; padding:20px; float:left;}
#bio { width:80%; min-height:700px; color:#FFF; padding:20px;}
#side {}


.img { float:right; margin:15px;}
span.icon a:link,
span.icon a:visited { display:block; text-indent:-9999px;}

span.portfolio a:link,
span.portfolio a:visited { width:279px; height:160px; background:url(../images/portfoliosprite.jpg) top left no-repeat; transition:background 0.3s linear 0s, color 0.3s linear 0s;}

span.portfolio a:hover {background-position:0 -160px;}


span.about a:link,
span.about a:visited { width:280px; height:160px; background:url(../images/aboutsprite.jpg) top left no-repeat; transition:background 0.3s linear 0s, color 0.3s linear 0s;}

span.about a:hover {background-position:0 -160px;}

span.contact a:link,
span.contact a:visited { width:280px; height:160px; background:url(../images/contactsprite.jpg) top left no-repeat; transition:background 0.3s linear 0s, color 0.3s linear 0s;}

span.contact a:hover {background-position:0 -160px;}





















#footer{ margin:10px 0 0 0; background-color:#000;  height:100px; margin:0; padding:10px; text-align:center; }
#footer li {list-style-type:none; display:inline; padding:25px;}